[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
slackweb = "*"
twine = "*"

[packages]
qiskit = "*"
jupyter = "*"
tqdm = "*"
grakel-dev = "==0.1a6"
toml = "*"
wheel = "*"
pytest = "*"

[requires]
python_version = "3.7"
