[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
slackweb = "*"

[packages]
qiskit = "*"
jupyter = "*"
tqdm = "*"
grakel-dev = "==0.1a6"

[requires]
python_version = "3.7"
